* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

p {
  margin-top: 5vw;
  margin-bottom: 1vw;
}

button {
  padding: 10px 16px;
  background-color: cyan;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
}

input {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  width: 15rem;
}

button:disabled {
  cursor: not-allowed;
}
