* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(155, 184, 155);
}

#pannel {
  overflow: hidden;
  width: 85%;
  height: 85%;
  background-color: aliceblue;
  border-radius: 10px;
}

#ptop {
  padding: 0px 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: rgb(72, 104, 72);
}

.elem {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.elem h2 {
  font-weight: 500;
  font-size: 22px;
}

.box {
  color: rgb(18, 119, 57);
  font-weight: 700;
  font-size: 15px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
}

#pbtm {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  width: 100%;
  height: calc(100% - 100px);
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(72, 104, 72);
  color: #fff;
  font-weight: 500;
}

.bubble:hover {
  cursor: pointer;
  background-color: rgb(3, 235, 3);
  color: black;
}
